.instrument-content {
    width: 100%;
    height: 100%;

    display: flex;
}

.piano {
    border: 4px solid black;
    background-color: white;
    border-radius: 32px;
    box-shadow: 0 0 8px #6e6e6e;

    width: 95%;
    height: 75%;
}

.instrumentation {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 16px;
}

.group {
    width: 95%;
    border-radius: 16px;
    box-shadow: 0 4px 12px #959595 inset;

    background-image: linear-gradient(160deg, #9fd9e6, #81a0ef);
    
    margin: 15px;
}

.group-header {
    margin: 5px 0;
    font-size: 48px;
    text-decoration: underline;
    width: 100%;
    text-align: center;
    /*border-bottom: 4px solid black;*/
}

.sections {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.instruments {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.instrument {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin: 10px;
    background-color: lightgray;

    /*border: 2px solid black;*/
    border-radius: 8px;

    transition: 0.1s;
}

.instrument:hover {
    transform: scale(1.05);
    box-shadow: 0 2px 8px #474747;
    transition: 0.075s;
}

.instrument-name {
    margin: 0;
    font-size: 32px;
    padding: 5px 10px 5px 5px;
    background-color: white;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

    border-right: 3px solid black;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.move-button {
    margin: 5px;
    font-size: 24px;
    font-weight: bold;
    padding: 5px 5px 0;

    border-radius: 8px;
    background-color: lightgray;
    border: none;
    background-size: 400%;
    background-position: 0 0;

    transition: 0.1s;
}

.move-button:hover {
    box-shadow: 0 3px 8px #818181;
    background-color: #6393e8;
    transform: scale(1.1);
    cursor: pointer;

    transition: 0.1s;
}

.move-button:active {
    transform: scale(0.95);
}

.move-disabled:hover {
    cursor: not-allowed !important;
    box-shadow: 0 3px 8px #a6a6a6;
    background-color: #e86363 !important;
    transform: scale(0.9) rotate(5deg) !important;

    transition: 0.1s;
}

.move-button img {
    padding: 0;
}

.title {
    margin: 24px 0;
    width: 100%;
    font-size: 5vw;
    text-align: center;
}

.settings {
    width: 100%;
    height: calc(100vh - 8vw);

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 12px gray inset;

    background-image: linear-gradient(160deg, #69d6e0, #6f82da, #dd49f8);
}

.elements {
    width: 95%;
    height: 70%;
    padding-top: 3%;
    /*border: 2px solid black;*/
    border-radius: 16px;
    box-shadow: 0 0 8px #8e8e8e;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}