body {
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: lightgray;
    background-size: 400% 400%;

    height: 7.5vh;
    padding: 1.5vh;
}

#logo:hover {
    -webkit-filter: drop-shadow(0 0 5px #222);
    filter: drop-shadow(0 0 5px #222);
}

