body {
    padding: 0;
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;

    height: 6vh;
    padding: 1.5vh 1vh 1vh;
}

main {
    flex: 1;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-container {
    display: contents;
}

#logo {
    max-height: 100%;
    border-radius: 0.8vw;

    transition: 0.1s;
}

#logo:hover {
    filter: drop-shadow(0 4px 6px #838383);
    transform: scale(1.1) rotate(-3deg) translate(0, -2px);

    background-color: white;

    transition: 0.1s;
}

#logo:active {
    transform: scale(0.9) rotate(-3deg) translate(0, -2px);

    transition: 0.05s;
}

#main-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 50vw;
    height: 100%;
    border-radius: 0.8vw;

    background-image: linear-gradient(160deg, #69d6e0, #6f82da, #dd49f8);
    background-size: 100%;

    transition: 0.05s;
}

#main-menu:hover {
    transform: scale(1.03);
    filter: drop-shadow(0 2px 4px #aeaeae);

    background-image: none;
    /*opacity: 0.5;*/

    transition: 0.1s;
}

#main-nav {
    display: contents;
}

#gradient {
    width: 50vw;
    height: 100%;
}

#user-settings {
    display: flex;
    align-items: center;
    justify-content: right;

    height: 100%;
    width: 4vw;
    background-color: white;
}

.page-button {
    width: 30%;
    height: 75%;

    background-image: linear-gradient(160deg, #69d6e0, #6f82da, #dd49f8, #ffffff, #ffffff);
    background-size: 500%;
    background-position: 100%, 100%;

    border-radius: 0.4vw;
    border: none;
    font-size: 2.5vh;

    transition: 0.3s;
}

.page-button:disabled {
    color: black;
    background-image: none;
    background-color: #d6d6d6;
}

.not-selected:hover {
    cursor: pointer;
    background-size: 225%;
    background-position: 0, 0;
    filter: drop-shadow(0 4px 6px #aeaeae);
    color: white;

    transform: translate(0, -4px);

    transition: 0.5s;
}

.not-selected:active {
    transform: translate(0, 0);
    filter: none;
    box-shadow: 0 0 8px #5e5e5e inset;
    background-position: 10%, 10%;

    transition: 0.1s;
}

.settings-link {
    margin-left: 12px;
    margin-right: 12px;
    padding: 1vh;
    border-radius: 0.4vw;

    font-size: 3vh;
    color: black;
    text-decoration: none;

    transition: 0.1s;
}

.settings-link:hover {
    background-color: white;
    box-shadow: 0 0 8px #5e5e5e;

    transform: translate(0, -4px);

    transition: 0.1s;
}

.settings-link:active {

    transform: translate(0, 0) scale(0.9);

    transition: 0.1s;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 0 8px #838383;

    background-color: white;
    height: 3vw;
}

.footer h1 {
    font-size: 1vw;
    color: black;
}

.footer h1 a {
    color: #236df1;
}